html {background-color: blanchedalmond;}
.one {
    font-family: "Times New Roman";
    color: #1f1f50;
    font-size: 28px;
}
.two {
    font-family: "Comic Sans MS";
    color: #a00000;
    font-size: 18px;
}
.three {
    font-family: "Arial";
    color: #f000a0;
    font-size: 20px;
}
h2 {
    font-family: "Times New Roman";
    color: #04726f;
    font-size: 32px;
}